@using Microsoft.AspNetCore.Identity
@model IEnumerable<Advertisement>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <div class="job-panel">
        <p class="job-title">@item.Name</p>
        <div class="job-detail-container">
            <div class="job-detail">
                <p class="job-detail-title">Pozíció</p>
                <p class="job-detail-description">@item.Position</p>
            </div>
            <div class="job-detail">
                <p class="job-detail-title">Leírás</p>
                <p class="job-detail-description">@item.Description</p>
            </div>
            <div class="job-detail">
                <p class="job-detail-title">Fizetés</p>
                <p class="job-detail-description">@item.Pay Ft/óra</p>
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
        {
            @foreach (var subs in item.Subscribed)
            {
                <p>@subs.FirstName subs.LastName</p>
            }
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="job-subscribe-button">
                <a href="/Home/Subscribe?id=@item.Uid">Érdekel</a>
        </div>
        }
    </div>
}